interop2/EchoInterop.wsdl

<definitions xmlns:s1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://fabrikam.com/examples"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             targetNamespace="http://fabrikam.com/examples"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://fabrikam.com/examples">
            <s:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
            <s:element minOccurs="0" maxOccurs="1" name="MyData" nillable="true" type="s:string"/>
            <!--s:complexType name="MyData">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="MyData" type="s:string"/>
                </s:sequence>
            </s:complexType-->
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <s:attribute name="Id" type="s:string"/>
        </s:schema>
    </types>
    <message name="MsgRequest">
        <part name="MyData" element="tns:MyData"/>
    </message>
    <message name="MsgResponse">
        <part name="MyData" element="tns:MyData"/>
    </message>
    <portType name="EchoPort">
        <operation name="echoMyData">
            <input message="tns:MsgRequest"/>
            <output message="tns:MsgResponse"/>
        </operation>
    </portType>
    <binding name="EchoInteropBinding" type="tns:EchoPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="echoMyData">
            <soap:operation soapAction="" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="EchoService">
        <port name="EchoInterop" binding="tns:EchoInteropBinding">
            <soap:address location="http://localhost:8080/axis/services/EchoInterop"/>
        </port>
    </service>
</definitions>