specs/Ping-2.wsdl

<definitions xmlns:tns="http://xmlsoap.org/Ping" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://xmlsoap.org/Ping" name="Ping">
	<types>
		<schema elementFormDefault="qualified" targetNamespace="http://xmlsoap.org/Ping" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://schemas.xmlsoap.org/ws/2003/06/utility">
		        <xsd:import namespace="http://schemas.xmlsoap.org/ws/2003/06/utility" schemaLocation="http://schemas.xmlsoap.org/ws/2003/06/utility" /> 
                        <complexType name="ticketType">
  				<xsd:simpleContent>
 					<xsd:extension base="xsd:string">
 						<xsd:attribute ref="wsu:Id" /> 
  					</xsd:extension>
  				</xsd:simpleContent>
			</complexType>
			<complexType name="ping">
				<sequence>
 				        <element name="ticket" type="tns:ticketType" minOccurs="0"/>
					<element name="text" type="xsd:string" nillable="true"/>
				</sequence>
			</complexType>
			<complexType name="pingResponse">
				<sequence>
					<element name="text" type="xsd:string" nillable="true"/>
				</sequence>
			</complexType>
			<element name="Ping" type="tns:ping"/>
			<element name="PingResponse" type="tns:pingResponse"/>
		</schema>
                <xsd:schema elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2003/06/utility">
                    <xsd:attribute name="Id" type="xsd:string" /> 
                 </xsd:schema>  
               
	</types>
	<message name="PingRequest">
		<part name="ping" element="tns:Ping"/>
	</message>
	<message name="PingResponse">
		<part name="pingResponse" element="tns:PingResponse"/>
	</message>
	<portType name="PingPort">
		<operation name="Ping">
			<input message="tns:PingRequest"/>
			<output message="tns:PingResponse"/>
		</operation>
	</portType>
	<binding name="PingBinding" type="tns:PingPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Ping">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="PingService">
		<port name="PingPort" binding="tns:PingBinding">
			<soap:address location="http://localhost:8080/pingejb/Ping"/>
		</port>
	</service>
</definitions>
