interop/ping.wsdl

<definitions xmlns:tns="http://xmlsoap.org/Ping"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsu="http://schemas.xmlsoap.org/ws/2003/06/utility"
             targetNamespace="http://xmlsoap.org/Ping" name="Ping">
  <types>
    <schema targetNamespace="http://xmlsoap.org/Ping" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
      <import namespace="http://schemas.xmlsoap.org/ws/2003/06/utility" schemaLocation="utility.xsd"/>
      <!--
      <complexType name="ticketType">
        <sequence>
          <element name="ticket" type="xsd:string"/>
        </sequence>
        <attribute ref="wsu:Id"/>
      </complexType>
      -->
      <complexType name="ticketType">
        <xsd:simpleContent>
          <xsd:extension base="xsd:string">
            <xsd:attribute ref="wsu:Id" /> 
          </xsd:extension>
        </xsd:simpleContent>
      </complexType>      
      <element name="ticket" type="tns:ticketType"/>
      <element name="text" type="xsd:string" nillable="true"/>
      <complexType name="ping">
        <sequence>
          <element ref="tns:text" />
          <element ref="tns:ticket" minOccurs="0" />
        </sequence>
      </complexType>
      <complexType name="pingResponse">
        <sequence>
          <element ref="tns:text" />
        </sequence>
      </complexType>
      <element name="Ping" type="tns:ping"/>
      <element name="PingResponse" type="tns:pingResponse"/>
    </schema>
  </types>

  <message name="PingRequest">
    <part name="ping" element="tns:Ping"/>
  </message>
  <message name="PingResponse">
    <part name="pingResponse" element="tns:PingResponse"/>
  </message>
  
  <portType name="PingPort">
    <operation name="Ping">
      <input message="tns:PingRequest"/>
      <output message="tns:PingResponse"/>
    </operation>
  </portType>

  <binding name="PingBinding" type="tns:PingPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Ping">
      <soap:operation/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="PingService">
    <port name="Ping1" binding="tns:PingBinding">
      <soap:address location="http://localhost:9080/pingservice/Ping1"/>
    </port>
    <port name="Ping2" binding="tns:PingBinding">
      <soap:address location="http://localhost:9080/pingservice/Ping2"/>
    </port>
    <port name="Ping3" binding="tns:PingBinding">
      <soap:address location="http://localhost:9080/pingservice/Ping3"/>
    </port>
    <port name="Ping4" binding="tns:PingBinding">
      <soap:address location="http://localhost:9080/pingservice/Ping4"/>
    </port>
    <port name="Ping5" binding="tns:PingBinding">
      <soap:address location="http://localhost:9080/pingservice/Ping5"/>
    </port>
    <port name="Ping6" binding="tns:PingBinding">
      <soap:address location="http://localhost:9080/pingservice/Ping6"/>
    </port>
    <port name="Ping7" binding="tns:PingBinding">
      <soap:address location="http://localhost:9080/pingservice/Ping7"/>
    </port>
  </service>
</definitions>

